.list {
    width: 300px;
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;
    padding: 5px;
    border: 1px solid black;
    margin: 30px;
}

.list-item {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    height: 40px;
    border-bottom: 1px solid steelblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    width: 70%;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.add {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

#name {
    width: 100%;
    flex: 2;
}

#count {
    width: 100%;
    flex: 1;
}

#price {
    width: 100%;
    flex: 1;
}

.add > input {
    outline: none;
    padding-left: 7px;
}